pandas
requests
pymongo
python-dotenv
flask
requests
openai==0.28
flask_cors
CORS
transformers
asyncio
hypercorn
unidecode
flask-jwt-extended 
passlib
bson
certifi
werkzeug
flask_pymongo
flask_cors
flask_jwt_extended
flask_bcrypt