.movie-card {
  position: relative;
  background-color: #5390D9;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(116, 0, 184, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
  width: 200px;
  height: 350px;
  overflow: hidden;
}

.movie-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 12px rgba(116, 0, 184, 0.2);
}

.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 8px;
  margin-bottom: 5px;
}

.plot-container {
  position: relative;
  padding-bottom: 10px;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(116, 0, 184, 0.2);
}

.movie-info h3 {
  margin: 0 0 0px 0;
  font-size: 1.2em;
}

.movie-info p {
  margin: 0;
  font-size: 0.9em;
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(91, 62, 172, 0.95);
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changed from center to flex-start */
  text-align: left; /* Align text to the left */
}

.movie-details h3 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  text-align: left; /* Ensure the title is also left-aligned */
}

.movie-details p {
  margin: 5px 0;
  font-size: 0.9em;
  text-align: left; /* Ensure paragraphs are left-aligned */
}

/* If you want to remove any left padding, you can add this: */
.movie-details > * {
  padding: 0;
}

.movie-details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 5px;
  align-items: start;
}

.movie-details-label {
  font-weight: bold;
  padding: 0;
}

.movie-card:hover .movie-details {
  opacity: 1;
}

/* Adjust the plot container if needed */
.plot-container {
  position: relative;
  padding-bottom: 20px;
  text-align: left;
}

.read-more-btn {
  background: none;
  border: none;
  color: #0381ff;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0;
  margin-left: 5px;
  text-decoration: underline;
}

.read-more-btn:hover {
  color: #ffc300;
}
