@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Rubik+Puddles&display=swap');

/* src/styles/Navbar.css */
.navbar {
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  height: 7.5vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  z-index: 999;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

.nav-item {
  height: 80px;
}

.nav-links {  
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .navbar-menu-icon {
    display: none;
  }
  .navbar {
    font-size: 1rem;
  }
}